body {
	background: url("http://media0.giphy.com/media/NnMH7LDpZTPZS/giphy.gif");
	/*background: url("https://38.media.tumblr.com/2d610d17b254143e71710267fccedbaf/tumblr_mrnjflHcKE1qdsh8vo1_500.gif");*/
	/*background: url("http://i.imgur.com/3t6Hu8a.gif");*/
	/*background: url("http://data3.whicdn.com/images/56538378/large.jpg");*/
  background-size: cover;
  background-position: cover;
  background-color: rgb(225, 218, 186);
 }

.title {
  font-size:50px;
}
.container {
  width: 600px;
  height: 330px;
  text-align: center;
  margin: 5% auto;
  background-color: rgb(0, 224, 255);
  border-radius: 54px;
}
.tile, img {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  vertical-align: top;
  display: inline-block;
  font-size: 100px;
  border-radius: 26%;

}
/*img {
  width: 100px;
  height: 100px;
  vertical-align: top;
  display: inline-block;
  font-size: 100px;
}*/
